<!DOCTYPE html>
<html>
<head>
  <title>Organisation Approuvée</title>
</head>
<body>
  <h1>Félicitations {{organizationName}}</h1>
  <p>Votre organisation a été approuvée avec succès sur PredictSocial.</p>
  <p>Vous pouvez vous connecter en cliquant sur le lien ci-dessous :</p>
  <a href="{{loginUrl}}">Se connecter</a>
</body>
</html>
